:root {
   color-scheme: light dark;
   --black: #000000;
   --white: #ffffff;
   --switch-color-off: var(--white);
   --switch-color-on: #85ff7a;

   --ww: 320px;
   --hh: 560px;

   --s: 14px; /* adjust this to control the size of switch input[type="checkbox"]*/
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */

   /* outline: solid 1px #f004; */
}

*::-webkit-scrollbar {
   display: none;
}

body {
   --side: 20px;
   position: relative;
   color: light-dark(var(--black), var(--white));
   background-color: light-dark(var(--white), var(--black));
   font-family: f3;
   width: calc(var(--ww) + var(--side) * 2);
   height: var(--hh);
   margin: var(--side);
   display: flex;
   gap: calc(var(--s) / 2);
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
   /* transition-property: width height; */
   /* transition-duration: 400ms; */
   /* transition-delay: 60ms; */

   /* &:has(main.active) { */
   /* transition-duration: 0ms;
      transition-delay: 0ms; */

   /* width: calc(var(--ww) * 2 - var(--s)); */
   /* } */
}

header {
   --h: calc(var(--s) * 5);
   position: relative;
   width: 100%;
   height: var(--h);
   display: flex;
   gap: calc(var(--s));
   justify-content: center;
   align-items: center;

   .logo {
      position: relative;
      width: calc(var(--h));
      height: calc(var(--h));

      img {
         position: absolute;
         width: 100%;
         height: 100%;
         background-size: cover;
         background-clip: center;
         scale: 1;
      }
   }

   section {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
         font-size: calc(var(--s) * 1.8);
      }

      b {
         position: relative;
         text-align: center;
         font-size: calc(var(--s) * 1.4);
         display: flex;
         padding-right: calc(var(--s));
         gap: 0;
         opacity: 0.5;

         .first {
            color: #ff4d00;
         }
         .second {
            color: #00ffd9;
         }
      }
   }

   .buttons {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      #reload,
      #stop {
         position: relative;
         width: calc(var(--s) * 2);
         height: calc(var(--s) * 2);
         display: grid;
         place-items: center;
         font-size: calc(var(--s) * 1.5);
         cursor: pointer;
         color: #ff0400;
         transform: scale(1) rotate(0);
         transition-property: transform;
         transition-duration: 200ms;

         &:hover {
            transform: scale(1.05) rotate(0);
         }
         &:active {
            transform: scale(1.05) rotate(360deg);
         }

         &#stop {
            color: #ff7700;

            &:active {
               transform: scale(1.05) rotate(180deg);
            }
         }
      }
   }
}

.br-tag {
   position: relative;
   width: calc(100% - var(--s) * 2);
   height: 2px;
   margin: calc(var(--s));
   background-color: light-dark(var(--black), var(--white));
}

main {
   --m: 15px;
   position: relative;
   width: 100%;
   height: calc(100% - var(--m) * 2);
   display: grid;
   overflow-y: scroll;
   grid-template-columns: 1fr;
   align-items: center;
   animation: opacity linear 400ms;

   &::before,
   &::after {
      content: "";
      position: sticky;
      left: 0;
      top: 0;
      width: 100%;
      height: var(--m);
      z-index: 100;
      background: linear-gradient(
         to bottom,
         light-dark(#fff, #000),
         transparent
      );
   }
   &::after {
      top: auto;
      bottom: 0;
      background: linear-gradient(to top, light-dark(#fff, #000), transparent);
   }

   /* &.active { */
   /* ----- for all ---- */
   /* .basic-grid { */
   /* transition-duration: 0ms; */
   /* transition-delay: 0ms; */
   /* grid-template-columns: 1fr 1fr; */

   /* & > * { */
   /* width: calc(100% - var(--s) / 2); */
   /* } */
   /* & > *:nth-child(odd) { */
   /* margin-left: calc(var(--s) / 2); */
   /* } */
   /* & > *:nth-child(even) { */
   /* margin-right: calc(var(--s) / 2); */
   /* } */
   /* } */
   /* } */

   .basic-grid {
      position: relative;
      width: 100%;
      height: fit-content;
      display: grid;
      gap: calc(var(--s) / 2);
      grid-template-columns: 1fr;
      place-items: center;
      margin: 0;

      /* ----- only display hide element ----- */
      &.auto {
         display: none;
         opacity: 0;

         & > * {
            opacity: 0;
            transition-duration: 100ms;
            transition-property: overlay opacity;
            transition-delay: calc(var(--d) * 50 - 50ms);
            transition-behavior: allow-discrete;
         }
      }
   }

   &:not(.active) .auto.manually-search-inputs,
   &.active .auto.auto-complete-inputs {
      display: grid;
      opacity: 1;

      @starting-style {
         opacity: 0;
      }

      & > * {
         opacity: 1;

         @starting-style {
            opacity: 0;
         }
      }
   }
}

.take-inp {
   position: relative;
   width: 100%;
   height: max-content;
   border-radius: calc(var(--s) / 4);
   outline: solid 1px #0001;
   background: light-dark(#0004, #222);
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 10fr 14fr;
   place-items: center;

   &.only-switch {
      height: calc(var(--s) * 3.5);
      grid-template-columns: 8fr 2fr;
      grid-template-rows: 1fr;

      span {
         width: 90%;
      }
   }

   &.one-line {
      height: calc(var(--s) * 4);
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      section {
         grid-template-columns: 12fr 3fr;

         .take-num {
            grid-template-columns: 10fr 10fr;
            p {
               position: relative;
               width: 100%;
               display: flex;
               justify-content: flex-start;
               padding-left: calc(var(--s) / 1.5);
               align-items: center;
            }
         }
      }
   }

   span {
      position: relative;
      width: auto;
      font-size: 26px;
      font-weight: 900;
      font-family: f6b;
   }

   &.one {
      grid-template-rows: 1fr;
      grid-template-columns: 10fr 7fr;
      height: calc(var(--s) * 3.5);

      & > span {
         width: 100%;
         padding: 0 calc(var(--s) / 1.5);
      }

      section {
         grid-template-columns: 1fr;

         .inp::before {
            display: none;
         }

         .take-num {
            grid-template-columns: 1fr;
         }
      }
   }

   section {
      --margin: var(--s) / 2;
      position: relative;
      border-radius: inherit;
      width: calc(100% - var(--margin));
      height: calc(100% - var(--margin));
      background: light-dark(#fff, #000);
      outline: solid 1px light-dark(#aaa, #444);
      display: grid;
      grid-template-columns: 7fr 3fr;
      place-items: center;

      .take-num {
         position: relative;
         width: 100%;
         height: 100%;
         position: relative;
         display: grid;
         place-items: center;
         grid-auto-flow: column;
         grid-template-columns: 4fr 7fr;

         p {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            font-size: 18px;
            font-family: f6;
            background: transparent;

            &::before {
               content: "";
               position: absolute;
               right: 0;
               width: 1px;
               height: 80%;
               background-color: light-dark(#aaa, #444);
            }
         }

         .inp {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            grid-template-columns: 2fr 3fr 2fr;

            &::before {
               content: "";
               position: absolute;
               right: 0;
               width: 1px;
               height: 80%;
               background-color: light-dark(#aaa, #444);
            }

            /* ----------- number input ----------- */
            input[type="number"] {
               position: relative;
               width: 100%;
               border-radius: calc(var(--s) / 6);
               font-size: 20px;
               text-align: center;
               letter-spacing: 2px;
               background: #0000;
               -webkit-appearance: none;
               -moz-appearance: none;
               appearance: none;
               outline: none;
               border: none;
               font-family: f2b;

               &:focus {
                  border: none;
                  outline: none;
               }
            }

            button {
               position: relative;
               width: 100%;
               height: 100%;
               border: none;
               outline: none;
               text-decoration: none;
               display: grid;
               place-items: center;
               color: light-dark(#333, #ccc);
               background-color: transparent;
               transition: linear 200ms color, linear 200ms scale;
               scale: 1;
               font-size: calc(var(--s) * 2.3);
               cursor: pointer;

               &:hover {
                  color: light-dark(var(--black), var(--white));
                  scale: 1.05;
               }
               &.inc:active {
                  color: #00ff40;
                  scale: 1.05;
               }
               &.dec:active {
                  color: #ff0000;
                  scale: 1.05;
               }
            }
         }
      }
   }

   &.btn {
      position: relative;
      height: calc(var(--s) * 3);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      background-color: transparent;

      button {
         position: relative;
         width: 99%;
         height: 100%;
         outline: none;
         border: none;
         display: grid;
         border-radius: inherit;
         place-items: center;
         cursor: pointer;
         font-size: calc(var(--s) * 1.8);
         background-color: light-dark(var(--black), var(--white));
         color: light-dark(var(--white), var(--black));
         font-weight: bold;
         font-family: f1b;
         border: solid 1px transparent;
         transition-property: color, background-color, border;
         transition-duration: 400ms;

         &:hover {
            background-color: light-dark(#555, #aaa);
            border: solid 1px light-dark(#000, #fff);
            transition-duration: 200ms;
         }
         &:active {
            background-color: light-dark(var(--white), var(--black));
            color: light-dark(var(--black), var(--white));
            border: solid 1px light-dark(var(--black), var(--white));
         }
      }
   }
}

body:has(#onlineControl:checked) .take-inp:not(.only-main) {
   opacity: 0.5;
   pointer-events: none;
}

/* ----------- checkbox input ----------- */
input[type="checkbox"] {
   --S: calc(var(--s) * 1.3);
   height: calc(var(--S) + var(--S) / 5);
   width: auto;
   aspect-ratio: 2.25;
   border-radius: var(--S);
   outline: solid 1px #7773;
   margin: calc(var(--S) / 2);
   display: grid;
   cursor: pointer;
   background-color: var(--switch-color-off);
   box-sizing: content-box;
   overflow: hidden;
   transition: 300ms 100ms;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
input[type="checkbox"]:before {
   content: "";
   padding: calc(var(--S) / 10);
   --_g: radial-gradient(
      circle closest-side at calc(100% - var(--S) / 2) 50%,
      #000 96%,
      #0000
   );
   background: var(--_g) 0 / var(--_p, var(--S)) 100% no-repeat content-box,
      var(--_g) var(--_p, 0) / var(--S) 100% no-repeat content-box, #fff;
   mix-blend-mode: darken;
   filter: blur(calc(var(--S) / 12)) contrast(11);
   transition: 400ms, background-position 400ms 100ms,
      padding
         cubic-bezier(
            0,
            calc(var(--_i, -1) * 200),
            1,
            calc(var(--_i, -1) * 200)
         )
         250ms 100s;
}
input[type="checkbox"]:checked {
   background-color: var(--switch-color-on);
}
input[type="checkbox"]:checked:before {
   padding: calc(var(--S) / 10 + 0.05px) calc(var(--S) / 10);
   --_p: 100%;
   --_i: 1;
}

/*  remove number input increase decrease */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}

.display-none {
   display: none;
}
